*.swp

# ignore configuration files that may contain sensitive information.
data/config*.php

# Ignore paths that contain user-generated content.
data/media

.idea/
apidocs/

#files on testserver
apcclear.php
awstats-icon
awstatsicons
modules_v3/openstreetmap
modules_v3/custom_js/

.well-known
stats/**
.htaccess
robots.txt
data/aliases.csv

devbox*
.devbox/**
.envrc
